@import 'header';
@import 'sidebar';
@import 'inboxboard';
@import 'mainboard';
@import 'task';
@import 'inputForm';

*,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: red;
}

button {
  border:0;
}

.richtext_editor, body, input, textarea {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size:$font-size-md;
}